<h1>This is login component</h1>
<form  action="" class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="loginData(form)">
    <h1 class="text-center bg-dark text-white">Login Here</h1>
    <div class="form-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email...." #email="ngModel" ngModel required minlength="6">
        <div *ngIf="email.touched && email.invalid">
            <p class="alert alert-danger" *ngIf="email.errors.required">Email is Required</p>

        </div>

    </div>  
    <div class="form-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password..." #password="ngModel" ngModel required minlength="5">
        <div *ngIf="password.touched && password.invalid">
                <p class="alert alert-danger" *ngIf="password.errors.required">Password is Mandatory for login</p>
    
            </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-danger float-right " [disabled]="form.invalid">Register</button>
    </div>
</form>