<h1>This is Movie Component</h1>
<!-- <div class="container col-md-4 card-card-body offset-2 mt-5">
    <h4>Movie Title</h4>
    <img src="" alt="some images">

</div>

<div class="container col-md-4 card-card-body offset-2 mt-5">
    <h4>Movie Title</h4>
    <img src="" alt="some images">

</div>

<div class="container col-md-4 card-card-body offset-2 mt-5">
    <h4>Movie Title</h4>
    <img src="" alt="some images">

</div> -->
<div class="container outline-success mt-5">
    <input type="search" name="" id="input" class="form-control" value="" required="required" title="" placeholder="Search for Movie Here....">
</div>



<div class="row mt-5 offset-2">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Movies Title</h5>
          <img src="" alt="Some Image">
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Movies Title</h5>
          <img src="" alt="some Image">
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Movies Title</h5>
            <img src="" alt="some image">
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
  </div>
  
  